body{
    margin: 0;
    padding: 0;
}

.scrolled{
    background-color: #000 !important;
    transition: 0.4s ease-in;
}

.carousel-item{
    height: 90vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    bottom: 220px;
}

.carousel-caption h5{
    font-size: 40px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.2;
}

.navbar-light .navbar-brand{
    color: #fff;
    font-weight: 350 !important;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-left: 75px;
    font-size: 30px;
    text-transform: none;
}

.navbar-light .navbar-brand:hover{
    color: #02A1DD;
}

.nav-item a{
    text-transform: uppercase;
}

#navbarContent .mr-auto a, #navbarContent .ml-auto a{
    color: #fff;
}

#navbarContent .mr-auto, #navbarContent .ml-auto{
    margin-top: 20px;
}

#navbarContent .mr-auto{
    margin-left: 220px;
}

#navbarContent .ml-auto{
    margin-right: 20px;
}

#navbarContent .mr-auto a:hover{
    color: #02A1DD;
}

#navbarContent .mr-auto a{
    padding: 0 15px;
}

#navbarContent .ml-auto a{
    padding: 0 3px;
}


*:focus {
    outline: 0 !important;
}

.color-lb{
    font-size: 16px;
    background-color: #02A1DD;
    text-transform: uppercase;
    padding: 5px 0;
    width: 155px;
    color: #fff;
    margin-top: 20px;
    border-radius: 17px;
    border: none;
    outline: none;
}

.color-lb:hover{
    opacity: 0.8;
}

.fa-facebook, .fa-twitter{
    background-color: transparent;
    border:0.5px solid #fff;    
    height:30px;
    width:30px;
    padding: 6px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
}

.fa-play{
    background-color: transparent;
    border:0.5px solid #fff;    
    height:30px;
    width:30px;
    padding: 9px 0px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.fa:hover{
    color: #fff;
    background-color: #02A1DD;
}

.ml-auto .fa-play{
    font-size: 11px;
    text-align: center;
    padding-left: 2px;
}

#style2 .min-height{
        height: 10vh;
}

.font{
    color: #626262;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700 !important;
    text-align: center;
    margin-left: 320px;
    margin-top: 30px;
}

.img1{
    width: 90%;
    margin-top: 70px;
    margin-left: 100px;
}

.font1{
    color: #67686C;
    font-size: 16px;
    margin-top: 44px;
    margin-bottom: 25px;
    width: 400px;
}

.font2{
    color: gray;
    width: 400px;
}

.button1{
    background-color: #CF1E2E;
    border-radius: 6px;
    text-transform: uppercase;
    color: lightgray;
    width: 150px;
    margin: 15px 0;
    border: none;
    outline: none;
    padding: 9px 0;
    font-size: 15px;
    font-weight: bold;
}

.button1:hover{
    background: #000;

}

#style2 .font1, .font2, .button1{
    margin-left: 80px;
}

.img2{
    filter: blur(2px);
    top: 400px;
    height: 400px;
    width: 100%;
    position: relative !important;
    border: 0 !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
}

.font3{
    color: #fff;
    display: inline-block;
    text-align: center;
}

.margin-right{
    margin-left: 50px;
}

.margin-bottom{
    margin-left: 100px;
}

.margin-left{
    margin-left: 90px;
}

.font4{color: #626262;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700 !important;
    text-align: center;
    margin-left: 320px;
    margin-top: 90px;
}

.progressbar{
    margin-top: 10px;
}

.progressbar li{
    list-style: none;
    margin-top: 40px;
}

.progressbar li .low-height{
    overflow: visible;
    position: relative;
}

.progressbar li{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 50px;
    border: 3px solid;
    display: block;
    text-align: center;
    background-color: #fff;
    margin-bottom: 70px;
}

.vl {
    border-left: 2px solid #D2D2D2;
    height: 450px;
    position: absolute;
    margin: 0 0 50px 78px;
    z-index: -1;
    top: 0;
}

.progressbar li.color-yellow{
    border-color: #FCD83B;
}

.progressbar li.color-blue{
    border-color: #0E94CA;
}

.progressbar li.color-orange{
    border-color: #F38125;
}

.margin-left{
    display: inline-block;
    padding-left: 50px;
}

.font5{
    color: #595A5E;
    font-size: 20px;
}

.font6{
    color: gray;
    padding-right: 320px;
}

.image22{
    position: relative;
    padding-left: 660px;
    bottom: 380px;
}

