@import url('https://fonts.googleapis.com/css?family=Lora:400,700i');

.circular-progress-bar {
    position: relative;
    margin: 0 auto;
}

.progress-percentage, .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 60px;
}

.progress-percentage {
    font-size: 46px;
    font-weight: 700 !important;
    margin-top: 20px;
    transform: translate(-50%, -85%);
    color: #FE9507;
}

.progress-text {
    transform: translate(-50%, 0%);
    color: #FE9507;
    font-size: 21px;
}